#
# Your Auth0 Domain.
# 
AUTH0_DOMAIN=int-dx-enterprise-test.us.auth0.com
#
# The Client Id of your Auth0 application.
#
AUTH0_CLIENT_ID=GGUVoHL5nseaacSzqB810HWYGHZI34m8
#
# The custom scheme for the Android callback and logout URLs.
#
AUTH0_CUSTOM_SCHEME=demo
