#
# Your Auth0 Domain.
# 
AUTH0_DOMAIN=DOMAIN
#
# The Client Id of your Auth0 application.
#
AUTH0_CLIENT_ID=CLIENTID
#
# The custom scheme for the callback and logout URLs.
# Android: use your app's package name (e.g. com.auth0.sample)
# Windows: use "auth0flutter" (the fixed scheme the Windows runner intercepts)
#
AUTH0_CUSTOM_SCHEME=auth0flutter
